body, html{
	margin:0;
	height:100%;
}

#blur-div{
	
	position:relative;
	overflow:hidden;
	
}

#blur-image{
	
	filter:blur(20px);
	-webkit-filter:blur(20px);
	
	position:absolute;
	z-index:0;
	
}

#canvas{
	
	display:block;
	
	position:absolute;
	
	z-index:100;
	
}

#btn-show{
	width:100px;
	height:30px;
	left:50px;
	bottom:50px;
	
	color:white;
	text-decoration:none;
	text-align:center;
	line-height:30px;
	
	border-radius:5px;
	
	
	display:block;
	position:absolute;
	z-index:200;
}

#btn-reset{
	width:100px;
	height:30px;
	right:50px;
	bottom:50px;
	
	color:white;
	text-decoration:none;
	text-align:center;
	line-height:30px;
	
	border-radius:5px;
	
	
	display:block;
	position:absolute;
	z-index:200;
}